/* reset */
* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
img {
    vertical-align: top;
    border: 0;
}
body {
    color: #333333;
}
/* 레이아웃 */
.wrap {
    width: 1920px;
    margin: 0 auto;
}
header {
    width: 1200px;
    height: 120px;
    position: relative;
    z-index: 100;
}
header .nav_bg {
    width: 1920px;
    height: 48px;
    background-color: black;
}
header .nav_bg li {
    text-align: center;
    color: #fff;
    line-height: 48px;
    font-size: 15px;
}
/* header .nav_bg .arrow1_btn {}
header .nav_bg .arrow2_btn {} */

header .topbar_wrap {
    width: 1200px;
    height: 72px;
    margin-left: 360px;
}
header .logo_box {
    float: left;
    width: 300px;
    height: 72px;
}
header .nav_box {
    float: left;
    width: 900px;
    height: 72px;
}
header .nav_box ul.main {
    width: 100%;
    text-align: center;
}
header .nav_box ul.main>li {
    float: left;
    width: 11%;
    /* column-width: 30px; */
    position: relative;
}
header .nav_box ul.main>li>a {
    display: block;
    width: 100%;
    height: 72PX;
    line-height: 72px;
    box-sizing: content-box;
    font-size: 16px;
    color: #979494;
}
header .nav_box ul.main>li:hover>a {
    color: #333;
    border-bottom: 2px solid #333;
}
header .nav_box ul.main>li>ul.sub_menu {
    position: absolute; 
    left: -15px;
    top: 72px;
    width: 129px;
    line-height: 30px; 
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #ffffff;
    color: #979494;
    font-size: 16px;
    display: none;
} 
header .nav_box ul.main>li>ul.sub_menu>li {
    height: 30px;
    padding-top: 10px;
    padding-bottom: 7px;
}
header .nav_box ul.main>li>ul.sub_menu>li>a {
    display: block;
    width: 100%;
    height: 100%;
}
header .nav_box ul.main>li>ul.sub_menu>li:hover>a {
    color: #373737;
} 
ul.slide {
    width: 1920px;
    height: 648px;
    position: relative;
    overflow: hidden;
}
ul.slide li {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 648px; 
}
.contents {
    width: 1200px;
    height: auto;
    margin-left: 360px;
}
.contents .new_banner {
    width: 1200px;
    height: 560px;
    margin-top: 80px;
    /* background: #bbb; */
}
.contents .new_banner .new_nav {
    /* width: 266px; */
    height: 40px;
    margin: 0 auto;
    background: #fff;
}
.contents .new_banner .new_nav .arriv_title{
    font-size: 36px;
    padding-top: 26px;
    text-align: center;
}
.flex {
    display: flex;
    margin-top: 12px;
}
.justify-between {
    justify-content: space-between;
}
.contents .new_banner .new_nav .item1 {
    width: 378px;
    height: 408px;
}
.contents .new_banner .new_nav .item1 img {
    width: 375.75px;
    height: 370px;
}
.contents .new_banner .new_nav .item1 .new1_title {
    font-size: 12px;
    color: #424242;
}
.contents .new_banner .new_nav .item1 .new1_title p {
    font-size: 12px;
    color: #000;
}
.contents .new_banner .new_nav .item2 {
    width: 378px;
    height: 408px;
}
.contents .new_banner .new_nav .item2 img {
    width: 375.75px;
    height: 370px;
}
.contents .new_banner .new_nav .item2 .new2_title {
    font-size: 12px;
    color: #424242;
}
.contents .new_banner .new_nav .item2 .new2_title p {
    font-size: 12px;
    color: #000;
}
.contents .new_banner .new_nav .item3 {
    width: 378px;
    height: 408px;
}
.contents .new_banner .new_nav .item3 img {
    width: 375.75px;
    height: 370px;
}
.contents .new_banner .new_nav .item3 .new3_title {
    font-size: 12px;
    color: #424242;
}
.contents .new_banner .new_nav .item3 .new3_title p {
    font-size: 12px;
    color: #000;
}
.contents .collection_banner {
    width: 1200px;
    height: 560px;
    margin-top: 80px;
    /* background: #ccc; */
}
.contents .collection_banner .collec_nav {
    /* width: 266px; */
    height: 40px;
    margin: 0 auto;
    background: #fff;
}
.flex {
    display: flex;
    margin-top: 12px;
}
.justify-between {
    justify-content: space-between;
}
.contents .collection_banner .collec_nav .item1_wrapper {
    position: relative;
}
.contents .collection_banner .collec_nav .item1_wrapper .item1 {
    width: 483px;
    height: 456px;
}
.contents .collection_banner .collec_nav .item1_wrapper .item1 img {
    margin-top: 70px;
    width: 483px;
    height: 400px;
}
.contents .collection_banner .collec_nav .item1_wrapper .item1_box {
    position: absolute;
    left: 25px;
    bottom: -55px;
    width: 433px;
    height: 80px;
    background: #fff;
    opacity: 0.7;
    cursor: pointer;
}
.contents .collection_banner .collec_nav .item1_wrapper .item1_box li{
    color: #000;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}
.contents .collection_banner .collec_nav .item2_wrapper {
    position: relative;
}
.contents .collection_banner .collec_nav .item2_wrapper .item2 {
    width: 483px;
    height: 456px;
}
.contents .collection_banner .collec_nav .item2_wrapper .item2 img {
    margin-top: 70px;
    width: 483px;
    height: 400px;
}
.contents .collection_banner .collec_nav .item2_wrapper .item2_box {
    position: absolute;
    left: 25px;
    bottom: -55px;
    width: 433px;
    height: 80px;
    background: #fff;
    opacity: 0.7;
    cursor: pointer;
}
.contents .collection_banner .collec_nav .item2_wrapper .item2_box li{
    color: #000;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}
.contents .best_banner {
    width: 1200px;
    height: 720px;
    margin-top: 40px;
    /* background: #ddd; */
}
.contents .best_banner .best_nav {
    /* width: 266px; */
    height: 36px;
    margin: 0 auto;
    background: #fff;
}
.contents .best_banner .best_nav .best_tit{
    font-size: 36px;
    padding-top: 26px;
    text-align: center;
}
.contents .best_banner .best_nav .best_row1 {
    width: 100%;
}
.flex {
    display: flex;
    margin-top: 20px;
}
.justify-between {
    justify-content: space-between;
}
.contents .best_banner .best_nav .best_row1 .item1 {
    width: 254px;
    height: 298px;
}

.contents .best_banner .best_nav .best_row1 .item1 img {
    width: 230px;
    height: 250px;
}
.contents .best_banner .best_nav .best_row1 .item1 .best1_wrpa img:hover {
    width: 230px;
    height: 250px;
    background: #000;
    opacity: 0.7;
}
.contents .best_banner .best_nav .item1 .best1_title {
    padding-top: 3px;
    font-size: 11px;
    color: #424242;
}
.contents .best_banner .best_nav .item1 .best1_title p {
    font-size: 12px;
    color: #000;
}
.contents .best_banner .best_nav .best_row1 .item2 {
    width: 254px;
    height: 298px;
}
.contents .best_banner .best_nav .best_row1 .item2 img {
    width: 230px;
    height: 250px;
}
.contents .best_banner .best_nav .item2 .best2_title {
    padding-top: 3px;
    font-size: 11px;
    color: #424242;
}
.contents .best_banner .best_nav .item2 .best2_title p {
    font-size: 12px;
    color: #000;
}
.contents .best_banner .best_nav .best_row1 .item3 {
    width: 254px;
    height: 298px;
}
.contents .best_banner .best_nav .best_row1 .item3 img {
    width: 230px;
    height: 250px;
}
.contents .best_banner .best_nav .item3 .best3_title {
    padding-top: 3px;
    font-size: 11px;
    color: #424242;
}
.contents .best_banner .best_nav .item3 .best3_title p {
    font-size: 12px;
    color: #000;
}
.contents .best_banner .best_nav .best_row1 .item4 {
    width: 254px;
    height: 298px;
}
.contents .best_banner .best_nav .best_row1 .item4 img {
    width: 230px;
    height: 250px;
}
.contents .best_banner .best_nav .item4 .best4_title {
    padding-top: 3px;
    font-size: 11px;
    color: #424242;
}
.contents .best_banner .best_nav .item4 .best4_title p {
    font-size: 12px;
    color: #000;
}
.contents .best_banner .best_nav .best_row2 {
    width: 100%;
}
.flex {
    display: flex;
    margin-top: 12px;
}
.justify-between {
    justify-content: space-between;
}
.contents .best_banner .best_nav .best_row2 .item5 {
    margin-top: 10px;
    width: 258px;
    height: 298px;
}
.contents .best_banner .best_nav .best_row2 .item5 img {
    width: 230px;
    height: 250px;
}
.contents .best_banner .best_nav .item5 .best5_title {
    padding-top: 3px;
    font-size: 11px;
    color: #424242;
}
.contents .best_banner .best_nav .item5 .best5_title p {
    font-size: 12px;
    color: #000;
}
.contents .best_banner .best_nav .best_row2 .item6 {
    margin-top: 10px;
    width: 258px;
    height: 298px;
}
.contents .best_banner .best_nav .best_row2 .item6 img {
    width: 230px;
    height: 250px;
}
.contents .best_banner .best_nav .item6 .best6_title {
    padding-top: 3px;
    font-size: 11px;
    color: #424242;
}
.contents .best_banner .best_nav .item6 .best6_title p {
    font-size: 12px;
    color: #000;
}
.contents .best_banner .best_nav .best_row2 .item7 {
    margin-top: 10px;
    width: 258px;
    height: 298px;
}
.contents .best_banner .best_nav .best_row2 .item7 img {
    width: 230px;
    height: 250px;
}
.contents .best_banner .best_nav .item7 .best7_title {
    padding-top: 3px;
    font-size: 11px;
    color: #424242;
}
.contents .best_banner .best_nav .item7 .best7_title p {
    font-size: 12px;
    color: #000;
}
.contents .best_banner .best_nav .best_row2 .item8 {
    margin-top: 10px;
    width: 258px;
    height: 298px;
}
.contents .best_banner .best_nav .best_row2 .item8 img {
    width: 230px;
    height: 250px;
}
.contents .best_banner .best_nav .item8 .best8_title {
    padding-top: 3px;
    font-size: 11px;
    color: #424242;
}
.contents .best_banner .best_nav .item8 .best8_title p {
    font-size: 12px;
    color: #000;
}
.contents .preview_banner {
    width: 1200px;
    height: 640px;
    margin-top: 80px;
    /* background: #aaa; */
}
.contents .preview_banner .prev1 {
    float: left;
    width: 588px;
    height: 640px;
}
.contents .preview_banner .prev1 .item1_wrapper {
    position: relative;
}
.contents .preview_banner .prev1 .item1_wrapper .item1 img {
    width: 100%;
    height: 640px;
}
.contents .preview_banner .prev1 .item1_wrapper .item1_tit {
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translate(-50%, -37%);
    width: 468px;
    height: 72px;
    /* background: #fff; */
}
.contents .preview_banner .prev1 .item1_wrapper .item1_tit li {
    color: #fff;
    font-size: 40px;
    text-align: center;
}
.contents .preview_banner .prev1 .item1_wrapper .item1_tit p {
    color: #666666;
    font-size: 24px;
    text-align: center;
}
.contents .preview_banner .prev1 .item1_wrapper .item1_box .btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 223px;
    height: 50px;
    margin-top: 10px;
    background: #fff;
    font-size: 17px;
    box-sizing: border-box;
    border: 1px solid #000;
}
.contents .preview_banner .prev1 .item1_wrapper .item1_box .btn:hover {
    color: #fff;
    background: #000;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.contents .preview_banner .prev2 {
    float: right;
    width: 583px;
    height: 640px;
}
.contents .preview_banner .prev2 .prev2_row1 {
    width: 100%;
}
.flex {
    display: flex;
    margin-top: 12px;
}
.justify-between {
    justify-content: space-between;
}
.contents .preview_banner .prev2 .prev2_row1 .item2_wrapper {
    position: relative;
}
.contents .preview_banner .prev2 .prev2_row1 .item2_wrapper .item2 {
    margin-top: -11px;
}
.contents .preview_banner .prev2 .prev2_row1 .item2_wrapper .item2_box {
    position: absolute;
    left: 30px;
    bottom: 0;
    width: 218px;
    height: 29px;
    background: #fff;
    box-sizing: border-box;
    border: 0.3px solid #DBDBDB;
}
.contents .preview_banner .prev2 .prev2_row1 .item2_wrapper .item2_box li {
    color: #666666;
    font-size: 9px;
    text-align: center;
}
.contents .preview_banner .prev2 .prev2_row1 .item2_wrapper .item2_box p {
    color: #000;
    font-weight: bold;
}

.contents .preview_banner .prev2 .prev2_row1 .item3_wrapper {
    position: relative;
}
.contents .preview_banner .prev2 .prev2_row1 .item3_wrapper .item3 {
    margin-top: -11px;
}
.contents .preview_banner .prev2 .prev2_row1 .item3_wrapper .item3_box {
    position: absolute;
    left: 30px;
    bottom: 0;
    width: 218px;
    height: 29px;
    background: #fff;
    box-sizing: border-box;
    border: 0.3px solid #DBDBDB;
}
.contents .preview_banner .prev2 .prev2_row1 .item3_wrapper .item3_box li {
    color: #666666;
    font-size: 9px;
    text-align: center;
}
.contents .preview_banner .prev2 .prev2_row1 .item3_wrapper .item3_box p {
    color: #000;
    font-weight: bold;
}
.contents .preview_banner .prev2 .prev2_row2 {
    width: 100%;
}
.flex {
    display: flex;
    margin-top: 12px;
}
.justify-between {
    justify-content: space-between;
}
.contents .preview_banner .prev2 .prev2_row2 .item4_wrapper {
    position: relative;
}
.contents .preview_banner .prev2 .prev2_row2 .item4_wrapper .item4{}
.contents .preview_banner .prev2 .prev2_row2 .item4_wrapper .item4 img {}
.contents .preview_banner .prev2 .prev2_row2 .item4_wrapper .item4_box {
    position: absolute;
    left: 30px;
    bottom: 0;
    width: 218px;
    height: 29px;
    background: #fff;
    box-sizing: border-box;
    border: 0.3px solid #DBDBDB;
}
.contents .preview_banner .prev2 .prev2_row2 .item4_wrapper .item4_box li {
    color: #666666;
    font-size: 9px;
    text-align: center;
}
.contents .preview_banner .prev2 .prev2_row2 .item4_wrapper .item4_box p {
    color: #000;
    font-weight: bold;
}
.contents .preview_banner .prev2 .prev2_row2 .item5_wrapper {
    position: relative;
}
.contents .preview_banner .prev2 .prev2_row2 .item5_wrapper .item5 {}
.contents .preview_banner .prev2 .prev2_row2 .item5_wrapper .item5 img {}
.contents .preview_banner .prev2 .prev2_row2 .item5_wrapper .item5_box {
    position: absolute;
    left: 30px;
    bottom: 0;
    width: 218px;
    height: 29px;
    background: #fff;
    box-sizing: border-box;
    border: 0.3px solid #DBDBDB;
}
.contents .preview_banner .prev2 .prev2_row2 .item5_wrapper .item5_box li {
    color: #666666;
    font-size: 9px;
    text-align: center;
}
.contents .preview_banner .prev2 .prev2_row2 .item5_wrapper .item5_box p {
    color: #000;
    font-weight: bold;
}
.lookbook_banner {
    width: 1500px;
    height: 640px;
    margin-left: -140px;
    margin-top: 80px;
    margin-bottom: 96px;
    background: #bbb;
}
.lookbook_banner .look_Wrap {
    float: left;
}
.footer_Wrap {
    width: 1920px;
    height: 662px;
    margin: 0 auto;
    background: #333;
    position: relative;
}
/* .footer_Wrap .footer {
    width: 100%;
    height: 662px;
    background: #ddd;
} */
.footer_Wrap .footer1_wrap {
    position: absolute;
    left: 0;
    width: 100%;
    height: 502px;
    background: #bbb;
}
.footer_Wrap .footer1_wrap .footer_logo {
    width: 278px;
    height: 74px;
}
.footer_Wrap .footer1_wrap .footer_logo img {
    width: 278px;
    height: 74px;
}
.footer_Wrap .notice_wrap {
    position: absolute;
    left: 0;
    width: 100%;
    height: 502px;
    background: #bbb;
}
.footer_Wrap .footer1_wrap .notice_wrap .support_box {
    float: left;
}
.footer_Wrap  .footer1_wrap .notice_wrap .support_box .sup_tit {
    color: #000;
    font-weight: bold;
    margin-top: 20px;
}
.footer_Wrap .footer1_wrap .notice_wrap .support_box ul.support {
    margin-top: 14px;
}
.footer_Wrap .footer1_wrap .notice_wrap .search_box {
    float: left;
    padding-left: 165px;
}
.footer_Wrap .footer1_wrap .notice_wrap .search_box .search_tit {
    color: #000;
    font-weight: bold;
    margin-top: 20px;
}
.footer_Wrap .footer1_wrap .notice_wrap .search_box ul.search {
    margin-top: 14px;
}
.footer_Wrap .footer1_wrap .notice_wrap .info_box {
    float: left;
    padding-left: 165px;
}
.footer_Wrap .footer1_wrap .notice_wrap .info_box .info_tit {
    color: #000;
    font-weight: bold;
    margin-top: 20px;
}
.footer_Wrap .footer1_wrap .notice_wrap .info_box ul.info {
    margin-top: 14px;
}

.footer_Wrap .footer2_wrap {
    position: absolute;
    left: 0;
    width: 100%;
    height: 160px;
    background: #ddd;
    box-sizing: border-box;
    border: 0.5px solid #EAEAEA;
}
.footer2_wrap .footer2_logo {}
.footer2_wrap .footer2_logo .country_tit {}
